- content_for :top_content do
  .jumbotron
    .container
      - if current_user
        .float-right
          %button.btn.btn-success.btn-rounded.btn-md.my-0
            = link_to '+ Add new note', new_note_path, method: :get
        %h4
          Your notes:
        %table.table.table-hover
          = paginate @notes
          %thead
            %tr
              %th{scope: "col"} #
              %th{scope: "col"} Title
              %th{scope: "col"} Note
              %th{scope: "col", colspan: 3} Actions
          %tbody
            - @notes.each_with_index do |note, index|
              %tr
                %th{scope: "row"}= params[:page].to_i * 10 + index + 1
                %td= trim_content note.title, 8
                %td= trim_content note.body, 60
                %td
                  %span.table-remove
                    %button.btn.btn-default.btn-rounded.btn-sm.my-0
                      = fa_icon "eye"
                      = link_to 'View', note, method: :get
                  %span.table-remove
                    %button.btn.btn-warning.btn-rounded.btn-sm.my-0
                      = fa_icon "edit"
                      = link_to 'Edit', edit_note_path(note), method: :get
                  %span.table-remove
                    %button.btn.btn-danger.btn-rounded.btn-sm.my-0
                      = fa_icon "trash"
                      = link_to 'Delete', note_path(note), method: :delete, data: { confirm: 'Are you sure?' }

      - else
        %h1 Welcome!
        %p Register to get started.
        %p
          = link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg'
